{% extends 'base.html' %}
{% block title %}Сайты{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>

    {% if items %}
    {% for item in items %}
    <tr>
          <td>{{ item.id }}</td>
          <td>
            <a href="{{ url_for('page_analyzer.get_url', url_id=item.id) }}">
              {{ item.name }}
            </a>
          </td>
          {% if item.url_checks %}
          {% for url_checks in item.url_checks %}
          <td>{{ url_checks.created_at }}</td>
          <td>{{ url_checks.status_code }}</td>
          {% endfor %}
          {% else %}
          <td></td>
          <td></td>
          {% endif %}
    </tr>
    {% endfor %}
    {% endif %}

    </tbody>
  </table>
</div>
{% endblock %}